body {
  background-color: black;
  text-align: center;
  font-family: 'Verdana' serif;
}

header h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

header a {
  font-size: 16px;
  color: aquamarine;
}
