body {
  background-color: black;
  text-align: center;
  font-family: 'Verdana';
}

header h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

header a, .link a {
  font-size: 16px;
  color: aquamarine;
}

.content h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Verdana';
}

.content p {
  color: grey;
  font-size: 21px;
  font-family: 'Verdana';
}

footer p {
  color: grey;
  text-align: right;
}
